<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/script.js"></script>

    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img src="img/img.jpg" alt="">
            <p>author : {{author}}</p>
        </div>
        {{>footer}}
    </body>
</html>